/tslint.json
/node_modules/
.env
/env/
logs
/build/
/.tsconfig.json
.env.docker
/logs/
/backup/
.idea/
/src/bloben-interface/dist/
/.husky/

/modules/bloben-interface/dist/
/data.sqlite
/tmp/
./data.sqlite
data.sqlite
*.sqlite
/src/logs/
